#
# On Board 100 MHz Clock
#

#Clock signal
Net "clkin" LOC=V10 | IOSTANDARD=LVCMOS33;
Net "clkin" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

Net "clk_1000_MHz" TNM_NET = sys_clk_1000_MHz;
TIMESPEC TS_sys_clk_1000_MHz = PERIOD sys_clk_1000_MHz 1000000 kHz;

Net "clk_250_MHz" TNM_NET = sys_clk_250_MHz;
TIMESPEC TS_sys_clk_250_MHz = PERIOD sys_clk_250_MHz 250000 kHz;

Net "clk_125_MHz" TNM_NET = sys_clk_125_MHz;
TIMESPEC TS_sys_clk_125_MHz = PERIOD sys_clk_125_MHz 125000 kHz;

#
# Input: Buttons
#

 Net "btnu"  LOC = A8  | IOSTANDARD = LVCMOS33;               # button up     - TL
 Net "btnd"  LOC = C9  | IOSTANDARD = LVCMOS33;               # button down   - TL
 Net "btnc"  LOC = B8  | IOSTANDARD = LVCMOS33;               # button centre - TL
 Net "btnl"  LOC = C4  | IOSTANDARD = LVCMOS33;               # button left   - TL
 Net "btnr"  LOC = D9  | IOSTANDARD = LVCMOS33;               # button right  - TL

#
# Input: Switches
#

 Net "sw<0>" LOC = T10 | IOSTANDARD = LVCMOS33;               # switch 0      - BR
 Net "sw<1>" LOC = T9  | IOSTANDARD = LVCMOS33;               # switch 1      - BL
 Net "sw<2>" LOC = V9  | IOSTANDARD = LVCMOS33;               # switch 2      - BL
 Net "sw<3>" LOC = M8  | IOSTANDARD = LVCMOS33;               # switch 3      - BL
 Net "sw<4>" LOC = N8  | IOSTANDARD = LVCMOS33;               # switch 4      - BL
 Net "sw<5>" LOC = U8  | IOSTANDARD = LVCMOS33;               # switch 5      - BL
 Net "sw<6>" LOC = V8  | IOSTANDARD = LVCMOS33;               # switch 6      - BL
 Net "sw<7>" LOC = T5  | IOSTANDARD = LVCMOS33;               # switch 7      - BL

#
# Output: Individual LEDs
#

 Net "ld<0>" LOC = U16 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # led 0
 Net "ld<1>" LOC = V16 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # led 1
 Net "ld<2>" LOC = U15 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # led 2
 Net "ld<3>" LOC = V15 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # led 3
 Net "ld<4>" LOC = M11 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # led 4
 Net "ld<5>" LOC = N11 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # led 5
 Net "ld<6>" LOC = R11 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # led 6
 Net "ld<7>" LOC = T11 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # led 7

#
# Output: 7 Segment LEDs
#

 Net "an<0>" LOC = P17 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # anode 0
 Net "an<1>" LOC = P18 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # anode 1
 Net "an<2>" LOC = N15 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # anode 2
 Net "an<3>" LOC = N16 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # anode 3

 Net "ka<0>" LOC = T17 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # kathode 0
 Net "ka<1>" LOC = T18 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # kathode 1
 Net "ka<2>" LOC = U17 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # kathode 2
 Net "ka<3>" LOC = U18 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # kathode 3
 Net "ka<4>" LOC = M14 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # kathode 4
 Net "ka<5>" LOC = N14 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # kathode 5
 Net "ka<6>" LOC = L14 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # kathode 6
 Net "ka<7>" LOC = M13 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # kathode 7

#
# UART serial interface
#

 Net "rx"    LOC = N17 | IOSTANDARD = LVCMOS33;               # uart rx       - RB
 Net "tx"    LOC = N18 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # uart tx       - RB

#
# Port B Radio Clocks
#

 Net "msf"   LOC = L3  | IOSTANDARD = LVCMOS33;               # msf signal    - LB
 Net "dcf"   LOC = K5  | IOSTANDARD = LVCMOS33;               # dcf signal    - LT
